.cta-box {

	a {
		padding: 8px 18px;
		text-transform: uppercase;
		font-size: 14px;
		border: 2px solid #fff;
	}
}

.btn {
	display: inline-block;
	font-weight: 400;
	line-height: 1.25;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	user-select: none;
	border: 1px solid transparent;
	padding: .5rem 1rem;
	font-size: 1rem;
	border-radius: .25rem;
	transition: all .2s ease-in-out;
	cursor: pointer;
}

.btn:focus,
.btn:hover {
    text-decoration: none
}

.btn.focus,
.btn:focus {
    outline: 0;
    box-shadow: 0 0 0 2px rgba(2, 117, 216, .25)
}

.btn.disabled,
.btn:disabled {
    cursor: not-allowed;
    opacity: .65
}

.btn.active,
.btn:active {
    background-image: none
}

a.btn.disabled,
fieldset[disabled] a.btn {
    pointer-events: none
}

.btn-cta {
	border-radius: 0;
	text-transform: uppercase;
	padding: 15px 25px;
	font-size: 14px;
}

.btn-cta-yellow {
	background-color: $btnYellowColor;
	color: #000;
}

.btn-cta-black {
	background-color: $btnBlackColor;
	color: #fff;
}

.btn-cta-white {
	background-color: $btnWhiteColor;
	color: #000;
}

.btn-cta-blue {
	background-color: $textBlue;
	color: #fff;
}

.btn-cta-transparent {
	background-color: transparent;
	color: #000;
}