$textColor: #faec27;
$tilesColor: #edbf29;

$btnYellowColor: #faec27;
$btnBlackColor: #252525;
$btnWhiteColor: #fff;
$hoverMenuColor: #edbf29;
$pastel: #efded0;
$orangeBox: #fccb6d;
$textBlue: #16dff7;

$placeHolderColor: #ddd !important;

$formContactColorPlaceholder: #747471 !important;

$facebookBgColor: #3b5998;
$twitterBgColor: #42a4f5;
$googleplusBgColor: #d34836;
$linkedinBgColor: #0077b5;