section#technology-slide {
	background-image: url($root + '/image/technology.jpg');

	&.slide-with-gradient:before {
		content: ' ';
	    top: 0;
	    left: 0;
	    opacity: .8;
	    position: absolute;
	    width: 100%;
	    height: 100%;
	    background-image: linear-gradient(to right, #1d1c1d, #0f6a76);
	    z-index: 1;
	}

	.banner-text {
		p {
			font-size: 1.2em;
			> span {
				color: $textBlue;
			}
		}
		h2 {
			font-size: 2.5em;
			&.with-half-border-bottom.border-bottom-yellow:before {
				background-color: $textBlue;
			}
		}
	}
}

section#strategy-slide {
	background-image: url($root + '/image/technology.jpg');

	&.slide-with-gradient:before {
		content: ' ';
	    top: 0;
	    left: 0;
	    opacity: .8;
	    position: absolute;
	    width: 100%;
	    height: 100%;
	    background-image: linear-gradient(to right, #363636, #862c36);
	    z-index: 1;
	}

	.banner-text {
		p {
			font-size: 1.2em;
			> span {
				color: $textRed;
			}
		}
		h2 {
			font-size: 2.5em;
			&.with-half-border-bottom.border-bottom-yellow:before {
				background-color: $textRed;
			}
		}
	}
}

section#marketing-slide {
	background-image: url($root + '/image/technology.jpg');

	&.slide-with-gradient:before {
		content: ' ';
	    top: 0;
	    left: 0;
	    opacity: .8;
	    position: absolute;
	    width: 100%;
	    height: 100%;
	    background-image: linear-gradient(to right, #363636, #3f5d1d);
	    z-index: 1;
	}

	.banner-text {
		p {
			font-size: 1.2em;
			> span {
				color: $textGreen;
			}
		}
		h2 {
			font-size: 2.5em;
			&.with-half-border-bottom.border-bottom-yellow:before {
				background-color: $textGreen;
			}
		}
	}
}

.box-technology {
	border: 1px solid #ddd;
	background-color: #e8eaeb;
	margin-bottom: 30px;
}

.top-box-technology {
	padding: 30px 30px;
	min-height: 154px;

	h2 {
		font-size: 1.9em !important;
		color: $textBlue;

		&.with-half-border-bottom.border-bottom-yellow:before {
			background-color: #fff;
			width: 30px;
		}
	}
}

body.strategy-page {
	.top-box-technology {
		h2 {
			color: $textRed;
		}
	}

	.cblue {
		color: $textRed;
	}

	.btn-cta-blue {
		background-color: $textRed;
	}
}

body.marketing-page {
	.top-box-technology {
		h2 {
			color: $textGreen;
		}
	}

	.cblue {
		color: $textGreen;
	}

	.btn-cta-blue {
		background-color: $textGreen;
	}
}

.down-box-technology {
	padding: 45px 30px;
	min-height: 200px;
	p {
		margin: 0;
	}
}

section.__other {
	.btn-cta {
		width: 200px;
		margin-left: 10px;
		margin-right: 10px;
	}
}

@media screen and (max-width: 576px){
	section.slide-banner-full-width {
		.fx-6 {
			max-width: 100%;
		}
	}
	section#technology-list {
		.fx-6 {
			max-width: 100%;
		}
	}
	body.technology-page {
		.fx-7, .fx-5 {
			max-width: 100%;
		}
	}
	section.__other{
		.btn-cta {
			width: auto;
		}
	}
	body.marketing-page .fx-7, body.marketing-page .fx-5 {
		max-width: 100%;
	}

	body.strategy-page .fx-7, body.strategy-page .fx-5 {
		max-width: 100%;
	}

	.top-box-technology {
		min-height: auto;
		padding-bottom: 15px;
	}
	.down-box-technology {
		min-height: auto;
		padding: 20px 30px;
	}
}
















