section#about {
	color: #000;
	padding-top: 3em;
	padding-bottom: 3em;
	text-align: center;

	.btn-cta {
		min-width: 200px;
		margin-left: 5px;
		margin-right: 5px;
	}
}

@media screen and (max-width: 576px){
	section#about {
		.fx-8 {
			max-width: 100%;
		}
	}
}

.about-title {

	h2 {
		font-size: 2em;
	}
}

.about-desc {
	
	p {
		font-size: 1.3em;
		font-weight: 300;
		line-height: 1.5;

		span {
			border-bottom: 2px solid $btnYellowColor;
		}
	}
}

.about-cta {
	margin-top: 5em;
}

@media screen and (max-width: 768px){
	.about-cta {
		a {
			margin-bottom: 20px;
		}
	}
}