#home-slide {
	height: 100vh;
	background-size: cover;
	background-image: url($root + '/image/home-slider.jpg');
	background-position: center;
	background-repeat: no-repeat;
}

.hero-text-container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100vh;
	text-align: center;

	h2.headline {
		text-transform: uppercase;;
		color: #fff;
		font-size: 2em;
	}

	p.hero-text {
		margin: 0px;
		font-size: 1.3em;
		line-height: 1.5;
	}

	p.hero-text.yellow {
		color: $textColor;
	}	
}

.arrow-lego {
	cursor: pointer;
	margin-top: 5em;
}