.slide-banner-full-width {
	height: 100vh;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	position: relative;
}

#home-slide {
	background-image: url($root + '/image/home-slider.jpg');
}

.hero-text-container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100vh;
	text-align: center;

	h2.headline {
		text-transform: uppercase;;
		color: #fff;
		font-size: 3em;
		z-index: 2;
		position: relative;

		> span {
			color: $textColor;
		}
	}

	p.hero-text {
		margin: 0px;
		font-size: 1.5em;
		line-height: 1.5;
		z-index: 2;
		position: relative;
	}

	p.hero-text.yellow {
		color: $textColor;
	}	
}

.arrow-lego {
	cursor: pointer;
	margin-top: 5em;
	z-index: 2;
	position: relative;
}

.slide-with-gradient {
	position: relative;
}

.banner-container {
	z-index: 2;
	position: relative;
	height: 100vh;
	display: flex;
	align-items:  center;

	.banner-text {
		h2 {
			font-size: 3em;
		}
		p {
			font-size: 2em;
			margin-top: 4em;
			> span {
				color: $btnYellowColor;
			}
		}
	}
}

h2.with-half-border-bottom {
	text-transform: uppercase;
	position: relative;

	&:before {
		content: '';
		position: absolute;
		bottom: -25px;
		left: 0;
		width: 50px;
		height: 5px;
	}

	&.border-bottom-yellow {
		&:before {
			background-color: $btnYellowColor;
		}
	}

	&.border-bottom-white {
		&:before {
			background-color: #fff;
		}
	}
}

.bg-cover {
	background-size: cover;
	background-repeat: no-repeat;
}

video#bg-video-slide {
	position: absolute;
	display: block;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translateX(-50%) translateY(-50%);
    background-size: cover; 
}

.bg-video-overlay {
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,.5);
	z-index: 1;
	width: 100%;
	height: 100%;
}

@media screen and (max-width: 992px){
	video#bg-video-slide {
		width: auto;
		height: auto;
		min-height: 100%;
		min-width: 100%;
	}
}

@media screen and (max-width: 576px){
	video#bg-video-slide {
		transform: translateX(-45%) translateY(-50%);
	}
}

@media screen and (max-width: 768px){
	.hero-text-container {
		h2.headline {
			font-size: 1.5em;
		}	
		p.hero-text {
			font-size: 1em;
			line-height: 1;
		}
		padding-left: 15px;
		padding-right: 15px;
	}

	.arrow-lego {
		margin-top: 2em;
	}

	.banner-container {
		.banner-text {
		h2 {
				font-size: 2em;
			}
			p {
				font-size: 1.5em;
				> span {
					color: $btnYellowColor;
				}
			}
		}
	}
}