section.all-content-center {
	text-align: center;

	h2 {
		&.with-half-border-bottom {
			&:before {
				left: 50%;
				transform: translateX(-50%);
			}
		}		
	}
}

h2 {
	&.middle-border {
		&:before {
			left: 50%;
			transform: translateX(-50%);
		}
	}		
}

section.with-bg {
	padding-top: 4em;
	padding-bottom: 4em;
}

a.anchor-cover {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 2;
}

section.overflow-bottom {
	margin-bottom: -8em;
}

section.overflow-top {
	margin-top: -7em;
}

.text-center {
	text-align: center;
}

.middle {
	display: flex;
	justify-content: center;
	align-items: center;
}

h3.h-with-bg-yellow {
	padding: 5px 10px;
	display: table;
	border: 2px solid $textColor;
}

.no-mt {
	margin-top: 0;
}

.white-bg {
	background-color: #fff;
}

.text-normal {
	font-weight: 300;
}

.cblue {
	color: $textBlue;
}

.add-mb {
	margin-bottom: 2em;
}

h1.h1-25 {
	font-size: 2.5em;
}

.text-dark {
	color: #000;
}

p.fw-300 {
	font-weight: 300;
}

.no-pb {
	padding-bottom: 0 !important;
}














