.menu-wrapper {
	position: fixed;
	width: 50vw;
	min-width: 500px;
	background-color: #000;
	height: 100vh;
	z-index: 9999;
	top: 0;
	right: 0;
	transform: translateX(101%);
	transition: all .5s cubic-bezier(.8,.09,.51,.97);
	overflow: hidden;

	&.menu-wrapper-show {
		transform: translateX(0);
	}
}

.__overlay {
	position: fixed;
	width: 100vw;
	height: 100vh;
	background-color: transparent;
	top: 0;
	left: 0;
	z-index: 9997;
	opacity: 0;
	transition: all .5s cubic-bezier(1,.07,.68,.9);
	transform: translateX(100%);

	&.__overlay-show {
		opacity: 1;
		transform: translateX(0);
	}
}

.menu-container {
	width: 80%;
	margin: 0 auto;
	margin-top: 5em;
	position: relative;
	nav {
		ul {
			margin-top: 0;
			margin-bottom: 0;
			padding-left: 0;
			li {
				margin-bottom: 15px;
				position: relative;
				a {
					font-size: 2em;
					position: relative;
					&:before {
						content: '';
						position: absolute;
						top: 50%;
						left: 0;
						background-color: $hoverMenuColor;
						width: 0px;
						height: 3px;
						left: -72px;

						transition: width .2s ease-in-out;
					}
					&:hover {
						color: $hoverMenuColor;

						&:before {
							width: 60px;
						}
					}
				}
			}
		}
	}
}

.close-menu {
	position: absolute;
	top: 20px;
	right: 40px;
	cursor: pointer;
}

@media screen and (max-width: 768px){
	.menu-wrapper {
		min-width: 200px;
	}
	.menu-container {
		nav {
			ul {
				li {
					a {
						font-size: 1.2em;
					}
				}
			}
		}
	}
}